---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p>DEBUG: site.publications.size = {{ site.publications.size }}</p>
<p>DEBUG: site.collections keys = {% for c in site.collections %}{{ c[0] }},{% endfor %}</p>

{% for post in site.publications reversed %}
  <p>DEBUG item: {{ post.title }}</p>
  {% include archive-single.html %}
{% endfor %}
